.global-presence-container > h2 {
    padding: 20px;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 0;
}

.global-presence-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.global-presence-content {
    width: 300px;
    height: 200px;
    color: #7A7A7A;
}

.country {
    color:#3acbb5;
    font-size: 24px;
    margin: 0 auto;
}

.image {
    width: 100%;
    height: 100%;
}

.image > img {
    width: 100%;
    height: 100%;
}

.address {
    margin: 0 auto;
    /* width: 80%; */
    text-align: center;
    margin-top: 20px;
    line-height: 1.4;
}

.address > p {
    margin-bottom: 0;
    margin-top: 0;
}

.address p:last-child {
    width: 85%;
    margin: 0 auto;
}

.email {
    margin-top: 5px;
    margin-bottom: 5px;
}

.email > a {
    text-decoration: none;
    color: #3acbb5;
    text-decoration-line:underline;
}

.phone > p {
    margin: 0 auto;
}