.top-destination-container > h2 {
    padding: 20px;
    font-size: 32px;
    margin: 20px;
  }
  
.destination-image-carousel {
    width: 94%;
    margin: 0 auto;
    position: relative;
}

.destination-image-carousel {
cursor: pointer;
}
  
.image-carousel-item {
padding: 0 10px;    
}

.destination-image {
width: 100%;
height: 200px;
}

.destination-image img {
width: 100%;
height: 100%;
object-fit: cover;
}

.destination-image:hover {
transform: scale(1.1);
}

.carousel-item-content {
border: 1px solid rgb(222, 214, 214);
}

.carousel-item-content h3 {
font-size: 24px;
padding-left: 10px;    
}

.carousel-item-content p {
padding-left: 10px;    
}

/* start slick css */
.slick-arrow {
position: absolute;
top: 50%;
transform: translateY(-50%);
border: none;
z-index: 10;
border-radius: 50%;
width: 30px;
height: 30px;
border: 1px solid #aaa;
background-color: unset;
font-size: 16px;
color: gray;
}

.slick-next {
right: -30px;
}

.slick-prev {
left: -30px;
}

.slick-arrow > i {
background-color: unset;
}
/* end slick css */